#root {
  max-width: 1280px;
  width: 100%;
  margin: 0;
  flex: 1;
  text-align: center;
  user-select: none;
}

$title-height: 20px;

.title-bar {
  width: 100%;
  display: flex;

  .drag-zone {
    cursor: move;
    width: 100%;
    text-align: left;
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
  }

  .close {
    width: $title-height;
    height: $title-height;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    &:hover {
      background-color: rgba(128, 128, 128, 0.6);
    }
    &::after, &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 15px;
      background-color: rgba(255, 255, 255, 0.87);
      top: 50%;
      left: 50%;
    }
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.copy-list {
  padding: 16px;
  overflow: auto;
  height: 426px;
  .copy-item {
    background-color: #213547;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 80px;
    display: flex;
    .value {
      text-align: left;
      flex: 1;
      overflow: hidden;
      white-space: pre-wrap;
      word-break: break-all;
    }
    .action {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .btn {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        &:hover {
          background-color: gray;
        }
      }
    }
  }
}
